$padWidth: 100px;
$padHeight: 80px;
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

body {
  font-family: "Josefin Sans", sans-serif;
}

body {
  user-select: none;
  background-color: lighten(grey, 5%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
