body {
  background: #e8e7e7; 
  font-family: arial;
}

header {
  color: #FFF;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063FA;
  border-bottom: solid 2px #D4CAFF;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}

.pomodoro-clock {
  text-align: center;
  background: #fff;
  width: 500px;
  margin: 70px auto;
  box-shadow: 0 2px 0 rgb(133, 104, 250);
  border-radius: 6px;
  overflow: hidden;
}

.length-inputs-container {
  display: flex;
  justify-content: space-around;
}

.length-input {
  display: flex;
  width: 190px;
}

.length-input-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  color: #B0AEBA;
  background-color: #DCDCDC;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  outline: none;
}

.length-input-action:hover {
  color: #fff;
}

.increment:hover {
  background: #83D97C;
}

.decrement:hover {
  background: #EF5350;
}

.length-number {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  line-height: 2em;
}

progress {
  width: 300px;
}

.time-number {
  font-size: 2.5em;
  font-family: monospace;
  margin: 15px auto;
}

.control-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 16px 2px 8px 2px;
  cursor: pointer;
}

.start-pause {
  background-color: #4CAF50; /* Green */
}

.reset {
  background-color: #f44336;
}