* {
  margin: 0;
  padding: 0;
}

div {
  position: relative;
  z-index: 2;
}

body {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#wrapper {
  padding: 15px;
  width: 425px;
}

@font-face {
  font-family: newYorkTimes;
  src: url(OldeEnglish.ttf);
}

header {
  padding: 10px;
  position: relative;
  height: auto;
  clear: both;
  text-align: center;
  border-bottom: 5px solid black;
}

#logo {
  font-family: newYorkTimes;
  font-size: 2.5em;
  padding-bottom: 10px;
}

#date {
  clear: both;
  font-weight: 500;
  font-size: 1em;
}

#quote-box {
  position: relative;
  display: table;
  text-align: center;
  width: 100%;
}

#quote-source {
  text-decoration: none;
  color: black;
}

.quote-image {
  margin: auto;
  clear: both;
  padding: 15px;
}

#image {
  display: block;
  margin: auto;
}

#text {
  font-weight: 450;
  font-size: 1.5em;
}

.quote-author {
  padding-top: 20px;
  color: grey;
}

.buttons {
  display: block;
  border-top: 2px solid rgb(80, 80, 80);
  margin-top: 10px;
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #333;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

#tweet-quote,
#tumblr-quote {
  float: left;
  padding: 0px;
  padding-top: 8px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  height: 30px;
  width: 40px;
}

#new-quote {
  float: right;
}
